:root{
    --home-vertical-padding: 50px;
    --home-content-gap: 30px;

    --primary-color: rgb(65, 75, 178);
    --secondary-color: rgb(149,16,172);
}
body{
    padding: 0;
    margin: 0;
    background: rgb(240, 240, 240);
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
/* HOME */
.home-banner{
    min-height: 250px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

/* TOPNAV donation buttons */
#topnav-donation-component button{
    max-width: 220px;
    padding: 10px 40px;
    width: 100%;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: flex;
    place-items: center;
    gap: 15px;
    white-space: nowrap;
    justify-content: center;
    transition: box-shadow 0.5s;
}

#topnav-donation-component button:hover{
    box-shadow: rgba(100, 100, 111, 0.5) 0 7px 29px 0;
}

#topnav-donation-component button img{
    height: 22px;
}


p.slogan{
    font-family: Indie, sans-serif;
}


.blur{
    background-color: rgba(8, 14, 14, 0.85);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.blur-light{
    background-color: rgba(107, 108, 108, 0.37);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
