:root{
    --home-vertical-padding: 50px;
    --home-content-gap: 30px;

    --primary-color: #0BA4DB;
    --secondary-color: #FF4006;

    --box-shadow-palette-1-A: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body{

    padding: 0;
    margin: 0;
    background: rgb(240, 240, 240);
}
h1, h2, h3, h4, h5, p{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
/* HOME */
.home-banner{
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    border-bottom: 5px solid white;

}

.section-trimmer{
    height: 10px;
    border-bottom: 5px solid white;
}

#home-component .section-trimmer:last-of-type{

}

.container{
    padding-bottom: 100px;
    padding-top: 50px;
}
/* TOPNAV donation buttons */
#topnav-donation-component button{
    max-width: 220px;
    padding: 10px 40px;
    width: 100%;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    display: flex;
    place-items: center;
    gap: 15px;
    white-space: nowrap;
    justify-content: center;
    transition: box-shadow 0.5s;
    box-shadow: var(--box-shadow-palette-1-A);
}

#topnav-donation-component button:hover{

}

#topnav-donation-component button img{
    height: 22px;
}


p.slogan{
    font-family: Indie, sans-serif;
    font-size: 22px;
}


.blur{
    background-color: rgba(8, 14, 14, 0.85);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.blur-light{
    background-color: rgba(107, 108, 108, 0.37);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/* Stil für die Tooltips
button[title] {
    position: relative;
    cursor: pointer;
}

button[title]::after {
    content: attr(title);
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 115%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

button[title]:hover::after {
    visibility: visible;
    opacity: 1;
}

 */