:root{
    --color-palette-1-A: #993102;
    --color-palette-1-B: #FF661F;
    --color-palette-1-C: #252B42;
    --color-palette-1-D: #009989;
    --color-palette-1-E: #05E6CE;
}

:root[data-theme="dark"] {

}