:root{
    --box-shadow-palette-1-A: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#app {
    font-family: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    background: #CADFDE;
    margin: 0;
}

.container{
    max-width: 1200px;
    width: 100%;
}

button{
    border: none;
    cursor: pointer;
    font-family: Poppins;
    border-radius: 15px;
    padding: 10px 15px;
    background-color: var(--color-palette-1-D);
    color: white;
}

input, textarea, select, option, li, ul{
    font-family: Poppins;
    padding: 10px 15px;
    border-radius: 15px !important;
    border: none;
    font-size: 14px !important;
}

input:focus, textarea:focus{
    outline: 2px solid var(--color-palette-1-D) !important;
}

.blur{
    background-color: rgba(8, 14, 14, 0.85);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.blur-light{
    background-color: rgba(107, 108, 108, 0.37);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}